<h3 class="h3-responsive text-center cloud-setup-title">
  Please choose a password for your CRE services:<br>
</h3>
<h6 class="h6-responsive text-center">
  Your username will be: <em>{{ currentUser.email }}</em>
</h6>
<br>

<form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="onKeyPressed($event)">
  <mat-input-container class="input-width">
    <input matInput [(ngModel)]="cloudProvider.credential.galaxy_admin_password"
           [type]="hidePassword ? 'password' : 'text'"
           placeholder="Password" formControlName="password" required>
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">
      <i class="fa {{ hidePassword ?'fa-eye' : 'fa-eye-slash' }}" aria-hidden="true"></i>
    </mat-icon>
  </mat-input-container>
  <mat-input-container class="input-width">
    <input matInput [(ngModel)]="passwordConfirm" [type]="hidePasswordConfirm ? 'password' : 'text'"
           placeholder="Confirm Password" formControlName="confirmPassword" required>
    <mat-icon matSuffix (click)="hidePasswordConfirm = !hidePasswordConfirm">
      <i class="fa {{ hidePasswordConfirm ?'fa-eye' : 'fa-eye-slash' }}" aria-hidden="true"></i>
    </mat-icon>
  </mat-input-container>

  <ph-setup-error [errors]="errors"></ph-setup-error>

  <div *ngIf="registering" class="text-center">
    <mat-progress-spinner mode="indeterminate" color="red">
      Please wait...
    </mat-progress-spinner>
  </div>
</form>

<!--TODO: MOVE to the PhenoMeNal Cloud Card -->
<div *ngIf="_isSuccess && cloudProvider.name === 'phenomenal'">
  <p>Congratulations! Please login with your PhenoMeNal Galaxy account.</p>
  <a href="{{ galaxyInstanceUrl }}" target="_blank">
    <button mat-raised-button color="warn">Login</button>
  </a>
</div>
