.input-width {
  width: 90%;
}

.mat-card-control-buttons{
  padding: 30px 0 0;
}

.galaxy-username{
  margin-top: 0;
}

.review-details{
  margin: 40px auto;
}

.mat-progress-spinner{
  margin: 25px auto;
}

.mat-progress-spinner > svg > circle {
  stroke: #5cb85c !important;
  stroke-width: 5px;
  r: 25px;
}
