<div *ngIf="message.length > 0" class="cloud-setup-message-panel">
  <br>
  <div class="alert alert-warning">{{ message}}</div>
</div>

<h4 class="h4-responsive text-center cloud-setup-title">
  Please review your deployment properties before proceeding
</h4>
<br>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="review-details">

    <!-- Services Properties -->
    <div class="h4-responsive" style="margin: 40px;">CRE Services Properties</div>
    <table class="table">
      <tbody>
      <tr>
        <th scope="row">Username</th>
        <td>
          {{cloudProvider.parameters.galaxy_admin_email}}
        </td>
      </tr>
      <tr>
        <th scope="row">PhenoMeNal Version</th>
        <td>
          {{cloudProvider.parameters.phenomenal_version.name}}
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Instances Properties -->
    <div class="h4-responsive" style="margin: 40px;">CRE Instances</div>
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Instance Type</th>
        <th># of instances</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">Master Node</th>
        <td>
          {{cloudProvider.parameters.master_instance_type}}
        </td>
        <td>1</td>
      </tr>
      <tr>
        <th scope="row">Worker Nodes</th>
        <td>
          {{cloudProvider.parameters.node_instance_type}}
        </td>
        <td>
          {{cloudProvider.parameters.node_count}}
        </td>
      </tr>
      <tr *ngIf="!cloudProvider.parameters.master_as_edge">
        <th scope="row">Edge Nodes</th>
        <td>
          {{cloudProvider.parameters.edgenode_instance_type}}
        </td>
        <td>
          {{cloudProvider.parameters.edgenode_count}}
        </td>
      </tr>
      <tr>
        <th scope="row">GlusterFS Nodes</th>
        <td>
          {{cloudProvider.parameters.glusternode_instance_type}}
        </td>
        <td>
          {{cloudProvider.parameters.glusternode_count}}
        </td>
      </tr>
      </tbody>
    </table>

    <div class="h4-responsive" style="margin: 40px;">CRE Global Properties</div>
    <table class="table">
      <tbody>
      <!-- OPENSTACK -->
      <tr *ngIf="cloudProvider.isOstack()">
        <th scope="row">OAuth Endpoint</th>
        <td>
          {{cloudProvider.parameters.url}}
        </td>
      </tr>
      <tr *ngIf="cloudProvider.isOstack()">
        <th scope="row">Project/Tenant Name</th>
        <td>
          {{cloudProvider.parameters.tenant_name}}
        </td>
      </tr>
      <tr *ngIf="cloudProvider.isOstack()">
        <th scope="row">Project/Tenant ID</th>
        <td>
          {{cloudProvider.parameters.tenant_id}}
        </td>
      </tr>
      <!-- AWS -->
      <tr *ngIf="cloudProvider.isGpc()">
        <th scope="row">Project ID</th>
        <td>
          {{cloudProvider.parameters.tenant_name}}
        </td>
      </tr>
      <tr *ngIf="!cloudProvider.isOstack()">
        <th scope="row">Region</th>
        <td>
          {{cloudProvider.parameters.default_region}}
        </td>
      </tr>
      <!-- COMMON -->
      <tr>
        <th scope="row">GlusterFS Disk Size</th>
        <td>
          {{cloudProvider.parameters.glusternode_extra_disk_size}} GB
        </td>
      </tr>
      <tr>
        <th scope="row">PVC Disk Size</th>
        <td>
          {{cloudProvider.parameters.phenomenal_pvc_size}} GB
        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <ph-setup-error [errors]="errors"></ph-setup-error>

</form>
