<main>
  <div class="container text-xs-center">
    <br>

    <!--<h5>What Cloud provider would you like to use?</h5>-->

    <!--<br>-->

    <p>In order to deploy your CRE you need a cloud provider.</p>
    <p>Please select a cloud provider for setting up your Cloud Research Environment.</p>
    <small><p><i class="fa fa-lock" aria-hidden="true"></i> No login or verification details will be stored by <strong><i>PhenoMeNal</i></strong></p></small>


    <div class="col-lg-4">
      <!--Card-->
      <div class="card card-cascade narrower app-card">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <img src="{{phenomenal_logo}}" class="img-fluid m-x-auto d-block app-logo" alt="">
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-block text-xs-center">

          <h5 class="card-title"><strong>PhenoMenal Cloud Hosting</strong></h5>
          <br>
          <p>Your data will be stored on the <strong><i>PhenoMeNal</i></strong> Cloud with computing power provided by the <strong><i>PhenoMeNal</i></strong> consortium partners</p>
          <p><strong>Free</strong></p>
          <p>Providers: <strong>EMBL-EBI, Uppsala Uni</strong></p>
          <p>Cloud location: <strong>Europe</strong></p>

          <template ngbModalContainer></template>
          <ph-progress-bar-modal></ph-progress-bar-modal>
        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card-->
    </div>
    <!--Card-->

    <div class="col-lg-4">
      <!--Card-->
      <div class="card card-cascade narrower app-card">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <img src="{{openstack_logo}}" class="img-fluid m-x-auto d-block app-logo" alt="">
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-block text-xs-center">

          <h5 class="card-title"><strong>OpenStack</strong></h5>
          <br>
          <p>Your Cloud Research Environment can be deployed at any OpenStack cloud you have an account for.
            Your data will be stored on your OpenStack cloud.
          </p>
          <p><strong>Commercial or Free</strong></p>
          <p>Providers: <strong>N/A</strong></p>
          <p>Cloud location: <strong>N/A</strong></p>

          <button class="btn btn-primary" disabled>Select</button>
        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card-->
    </div>
    <!--Card-->





    <div class="col-lg-4">
      <!--Card-->
      <div class="card card-cascade narrower app-card">

        <!--Card image-->
        <div class="view overlay hm-white-slight">
          <img src="{{aws_logo}}" class="img-fluid m-x-auto d-block app-logo" alt="">
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--/.Card image-->

        <!--Card content-->
        <div class="card-block text-xs-center">

          <h5 class="card-title"><strong>Amazon AWS</strong></h5>
          <br>
          <p>Amazon AWS is a commercial cloud provider. Use this if you already have an Amazon Web Services account.
            Your data will be stored on your Amazon AWS
          </p>
          <p><strong>Commercial</strong></p>
          <p>Providers: <strong>Amazon AWS</strong></p>
          <p>Cloud location: <strong>Worldwide</strong></p>

          <button class="btn btn-primary" disabled>Select</button>

        </div>
        <!--/.Card content-->
      </div>
      <!--/.Card-->
    </div>
    <!--Card-->





    <!--<p>Do you have an account with another cloud provider that you would like to use?</p>-->
    <!--<p>You can login and use your own cloud provider here</p>-->


  </div>
</main>
