.img-rounded {
  max-height: 80px;
}

.list-group {
  padding: 10px;
  height:100px;
  margin-bottom: 15px;
}

.media-left {
  /*width:200px;*/
  width: 20%;
  min-width: 150px;
  text-align: center;
}

@media (max-width: 539px) {
  .description {
    display: none;
  }
  .media-heading {
    margin-top: 10px;
  }
}

@media (min-width: 992px) {

}
