<main>
  <div class="container">

    <!--<div class="row">-->
      <!--<fl-application-search-bar></fl-application-search-bar>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="col-md-3">-->
        <!--<fl-application-filter></fl-application-filter>-->
      <!--</div>-->
      <!--<div class="col-md-9">-->
        <!--<div class="app-list">-->
          <fl-application-list></fl-application-list>
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</main>
