.view {
  margin-top: 15px;
}

@media (max-width: 992px) {
  .view {
    margin-top: 0px;
  }
}

.filled-in:checked+label:after {
  border-color: #525991 !important;;
  background-color: #525991 !important;
}
