<div *ngIf="cloudProvider.isSelected === 2">
  <p>
    Please choose the password for your Galaxy Administrator account<br>
    (username: <em>{{ currentUser.email }}</em>)
  </p>
  <br>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-input-container class="input-width">
      <input matInput [(ngModel)]="cloudProvider.credential.galaxy_admin_password"
             placeholder="Galaxy Password" type="password" formControlName="password" required>
    </mat-input-container>
    <mat-input-container class="input-width">
      <input matInput [(ngModel)]="passwordConfirm"
             placeholder="Confirm Galaxy Password" type="password" formControlName="confirmPassword" required>
    </mat-input-container>
    <div *ngIf="formErrors.email || formErrors.password || formErrors.confirmPassword"
         class="alert alert-warning">
      {{ formErrors.email + ' ' + formErrors.password + ' ' + formErrors.confirmPassword + ' ' + message}}
    </div>
    <div *ngIf="cloudProvider.isSelected === 2" class="mat-card-control-buttons">
      <button mat-raised-button (click)="cloudProvider.isSelected=1;" color="accent">Back</button>
      <button mat-raised-button *ngIf="cloudProvider.name === 'phenomenal'" [disabled]="!form.valid" color="warn">
        Register
      </button>
      <button mat-raised-button *ngIf="cloudProvider.name !== 'phenomenal'" [disabled]="!form.valid" color="warn">
        Next
      </button>
    </div>
  </form>
</div>
<div *ngIf="_isSuccess && cloudProvider.name === 'phenomenal'">
  <p>Congratulations! Please login with your PhenoMeNal Galaxy account.</p>
  <a href="{{ galaxyInstanceUrl }}" target="_blank">
    <button mat-raised-button color="warn">Login</button>
  </a>
</div>

<!-- Display existent error messages -->
<div *ngIf="message.length > 0">
  <br>
  <div class="alert alert-warning">{{ message}}</div>
</div>

<div *ngIf="_isSuccess && cloudProvider.name !== 'phenomenal' && cloudProvider.isSelected === 3">
  <p>Please review your input data before deployment.</p>
  <div *ngIf="cloudProvider.name === 'ostack'">
    <p>Username: <b>{{cloudProvider.credential.username}}</b></p>
    <p>Tenant Name: <b>{{cloudProvider.credential.tenant_name}}</b></p>
    <p>Auth URL: <b>{{cloudProvider.credential.url}}</b></p>
    <p>Galaxy Email: <b>{{currentUser.email}}</b></p>
  </div>
  <div *ngIf="cloudProvider.name === 'aws'">
    <p>Region: <b>{{cloudProvider.credential.default_region}}</b></p>
    <p>Access Key ID: <b>{{cloudProvider.credential.access_key_id}}</b></p>
    <p>Galaxy Email: <b>{{currentUser.email}}</b></p>
  </div>
  <div *ngIf="cloudProvider.name === 'gcp'">
    <p>Region: <b>{{cloudProvider.credential.default_region}}</b></p>
    <p>Project ID: <b>{{cloudProvider.credential.tenant_name}}</b></p>
    <p>Galaxy Email: <b>{{currentUser.email}}</b></p>
  </div>
  <div class="mat-card-control-buttons">
    <ng-template ngbModalContainer></ng-template>
  </div>
  <ph-progress-bar-modal [credential]="cloudProvider.credential"
                         [cloudProvider]="cloudProvider"></ph-progress-bar-modal>
</div>
