<main>
  <div class="container text-xs-center">

    <br>

    <div *ngIf="!existsUser()">

      <p>Let us setup your Cloud Research Environment.</p>

      <p>We just need to ask you a couple of questions
        and we will get you all hooked up.</p>
      <br>
      <h5>Who are you?</h5>

      <br>

      <p>In order to ensure we can identify you and your cloud research environment.</p>
      <p>It's important to sign in or register through Elixir SSO.</p>

      <a class="btn btn-primary button-width" href="{{ssoLink()}}" target="_blank"><img [src]="elixir_logo"> SSO</a>

      <p></p>

    </div>

    <div *ngIf="existsUser()">
      <div class="loader">Loading...</div>
    </div>
    
  </div>

</main>

