<div *ngIf="cloudProvider">

  <h3 class="h3-responsive text-center cloud-setup-title">Please insert your Cloud Provider credentials</h3>

  <br>

  <div class="provider-credentials-container">
    <ph-aws-provider-credentials *ngIf="cloudProvider.name === 'aws'"
                                 [cloudProvider]="cloudProvider"></ph-aws-provider-credentials>
    <ph-openstack-provider-credentials *ngIf="cloudProvider.name === 'ostack'"
                                       [cloudProvider]="cloudProvider"></ph-openstack-provider-credentials>
    <ph-gcp-provider-credentials *ngIf="cloudProvider.name === 'gcp'"
                                 [cloudProvider]="cloudProvider"></ph-gcp-provider-credentials>

    <div class="no-login-stored">
      <p>
        <small>
          <i class="fa fa-lock" aria-hidden="true"></i>
          No login or verification details will be stored by <strong><i>PhenoMeNal</i></strong>
        </small>
      </p>
    </div>

    <ph-setup-error [errors]="errors"></ph-setup-error>
  </div>

</div>
