<md-card class="phenomenal-card-property">
  <img md-card-image src="{{cloudProvider.logo}}" class="card-image">
  <md-card-content>
    <h5 class="card-title"><strong>{{cloudProvider.title}}</strong></h5>
    <p>{{cloudProvider.description}}</p>
    <p><strong>{{cloudProvider.paymentDescription}}</strong></p>
    <p>Providers: <strong>{{cloudProvider.providerDescription}}</strong></p>
    <!--<a href="{{galaxy_instance_url}}" target="_blank"><button md-raised-button color="warn">Login</button></a>-->
    <button md-raised-button (click)="cloudProvider.isSelected=1;" color="primary">Register</button>
  </md-card-content>

</md-card>
