.app-card{
  width:100%;
}

@media (min-width: 768px) {
  .app-card {
    height: 230px;
  }

  .card-title {
    margin-bottom: 5px !important;
  }

  .card-block {
    padding-top: 10px !important;
  }
}

@media (min-width: 992px) {
  .app-card {
    height: 200px;
  }

}

.app-logo{
  height: 80px;
}
