<!--Card-->
<div class="card card-cascade narrower app-card">

  <a [routerLink]="['/app-library', application.id]" class="app-link">

    <!--Card image-->
    <div class="app-logo-container">
      <img src="{{ application.logo_large }}" class="img-fluid m-x-auto d-block app-logo" alt="">

      <!--<div class="mask"></div>-->

    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block text-xs-center">

      <!--Category & Title-->
      <h5 class="h5-responsive card-title">
        <span class="font-weight-bold">{{ application.name }}</span>
      </h5>

      <!--Description-->
      <div class="card-text card-text-overflow small">
        {{ application.short_description }}
      </div>

    </div>
    <!--/.Card content-->

  </a>

</div>
<!--/.Card-->

