a {
  color: #FFF !important;
}

a:focus, a:hover {
  color: #D3B569;
}

.breadcrumb {
  background-color: #525991;
}

.breadcrumb > .active {
  color: #FFF;
}

.breadcrumb > li + li::before {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #818a91;
  content: "/";
}

.breadcrumb > li {
  display: inline;
}


@media (max-width: 767px) {
  .breadcrumb-container {
    margin-top: 50px!important;
  }
}

@media (min-width: 768px) {
  .breadcrumb-container {
  }
}
