.container {
  padding: 0;
  margin: 0 auto;
}

mat-card {
  background: #111111;
  color: white;
  padding: 0;
  margin: -12px 0 -19px;
}

mat-card-header {
  background: #525991;
  padding: 10px;
  width: 95%;
  position: fixed;
  margin-top: -3px!important;
}

mat-card-content{
  margin-top: 10px;
}

.logs-title {
  font-size: 1.5em;
  width: 96%;
  display: inline-block;
  margin: 2px 0 0;
}

.logs-scroll-ctrl {
  width: 4%;
  margin-top: 3px;
}

.logs-download-ctrl {
  width: 4%;
  margin-top: 4px;
}

.ctrl-link {
  color: white;
}

.ctrl-link :hover {
  color: #a8b0ff;
}

.ctrl-link-toggled {
  color: #a8b0ff;
}

.logs-container {
  overflow: auto;
  padding: 0;
  margin: 0;
  background: #212121;
}

.logs-text {
  background: #212121;
  color: white;
  border: none;
  margin: 80px 20px 40px !important;
}

@media (max-width: 991px) {
  mat-card-header {

  }
}

@media (max-width: 767px) {
  .container {
    margin-top: 50px;
  }
}

@media (max-width: 397px) {
  .container {
    margin-top: 40px;
  }
}
