<h3 class="h3-responsive text-center cloud-setup-title">Please insert your Cloud Provider credentials</h3>
<br>
<form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="onKeyPressed($event)">
  <mat-form-field class="input-width">
    <mat-select placeholder="Select Region" style="display: inline-block; text-align: left;" formControlName="region"
                [(ngModel)]="cloudProvider.credential.default_region" required>
      <mat-option *ngFor="let region of _gcp_region" [value]="region.value">
        {{region.displayValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-input-container class="input-width">
    <div class="row" style="display: flex;">
      <div class="column" style="flex: 80%;">
          <textarea matInput readonly [(ngModel)]="cloudProvider.credential.access_key_id"
                    style="height: 100px; padding: 20px;"
                    placeholder="Google Compute Engine Service Credential" formControlName="accessKeyId" required>
          </textarea>
      </div>
      <div class="column" style="width: 10%; margin: auto auto 0; text-align: center;">
        <a class="upload-link">
          <mat-icon matSuffix (click)="credentialFileInput.click()">
            <i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i>
            <input hidden type="file" #credentialFileInput (change)="onFileChanged($event)"/>
          </mat-icon>
          <div>Upload</div>
        </a>
      </div>
    </div>
  </mat-input-container>

  <div class="mat-card-control-buttons">
    <button mat-raised-button (click)="cloudProvider.isSelected=0;"
            class="btn btn-primary" color="primary">Back
    </button>
    <button mat-raised-button [disabled]="!form.valid"
            [ngClass]="{'btn': form.valid, 'btn-primary': form.valid}" color="primary">
      Next
    </button>
  </div>
  <div class="cloud-setup-message-panel">
    <div *ngIf="formErrors.region || formErrors.accessKeyId || formErrors.tenantName" class="alert alert-warning">
      {{ formErrors.region + ' ' + formErrors.accessKeyId + ' ' + formErrors.tenantName }}
    </div>
  </div>
</form>
