<main>

  <!--Main layout-->
  <div class="container">
    <!--First row-->
    <div class="row">
      <div class="col-md-6">
        <!--Featured image -->
          <img [src]="img1" class="img-fluid" alt="">
      </div>

      <!--Main information-->
      <div class="col-md-6">
        <br>
        <h3 class="h3-responsive text-xs-left">Your local installation of the CRE can be run as virtual machines or if you have administration rights directly on the computers</h3>
        <hr>

        <div class="text-xs-center">
          <a [routerLink]="['/cloud-research-environment/cloud-research-environment-local-installation-instruction']" class="btn btn-primary">Install your local <br> Cloud Research Environment</a>
        </div>

      </div>


    </div>
    <!--/.First row-->

    <hr class="extra-margins">

    <!--First row-->
    <div class="row">
      <!--Main information-->
      <div class="col-md-6">
        <br>
        <br>
        <h3 class="h3-responsive text-xs-left">What will I need to run a local installation of the CRE?</h3>
        <hr>
        <p class="text-xs-center">Not much is the easy answer and we can guide you through it step-by-step</p>
      </div>

      <div class="col-md-6">
        <!--Featured image -->
        <img [src]="img2" class="img-fluid " alt="">
      </div>


    </div>
    <!--/.First row-->

    <hr class="extra-margins">

    <!--First row-->
    <div class="row">
      <div class="col-md-6">
        <!--Featured image -->
        <img [src]="img3" class="img-fluid " alt="">
      </div>

      <!--Main information-->
      <div class="col-md-6">
        <br>
        <br>
        <br>
        <h3 class="h3-responsive text-xs-left">A local installation of our CRE is ideal if you need to keep your data locally due to privacy and security</h3>
      </div>

      </div>
    <!--/.First row-->


  </div>
  <!--/.Main layout-->

</main>
