<main>

  <!--Main layout-->
  <div class="container">
    <!--First row-->
    <div class="row">
      <div class="col-md-6">
        <!--Featured image -->
          <img src="assets/img/cloud-research-environment-installation/img1.png" class="img-fluid " alt="">
      </div>

      <!--Main information-->
      <div class="col-md-6">
        <br>
        <h2 class="h2-responsive text-xs-center">Your local installation of the CRE can be run as virtual machines or if you have administration rights directly on the computers</h2>
        <hr>

        <div class="text-xs-center">
          <a [routerLink]="['/cloud-research-environment/cloud-research-environment-local-installation-instruction']" class="btn btn-primary">Install your local <br> Cloud Research Environment</a>
        </div>

      </div>


    </div>
    <!--/.First row-->

    <hr class="extra-margins">

    <!--First row-->
    <div class="row">
      <!--Main information-->
      <div class="col-md-6">
        <br>
        <br>
        <h2 class="h2-responsive text-xs-center">What will I need to run a local installation of the CRE?</h2>
        <hr>
        <p class="text-xs-center">Not much is the easy answer and we can guide you through it step-by-step</p>
      </div>

      <div class="col-md-6">
        <!--Featured image -->
        <img src="assets/img/cloud-research-environment-installation/img2.png" class="img-fluid " alt="">
      </div>


    </div>
    <!--/.First row-->

    <hr class="extra-margins">

    <!--First row-->
    <div class="row">
      <div class="col-md-6">
        <!--Featured image -->
        <img src="assets/img/cloud-research-environment-installation/img3.png" class="img-fluid " alt="">
      </div>

      <!--Main information-->
      <div class="col-md-6">
        <br>
        <br>
        <br>
        <h2 class="h2-responsive text-xs-center">A local installation of our CRE is ideal if you need to keep your data locally due to privacy and security</h2>
      </div>

      </div>
    <!--/.First row-->


  </div>
  <!--/.Main layout-->

</main>
