<form [formGroup]="form" (keypress)="onKeyPressed($event)">

  <mat-input-container class="input-width">
    <div class="row" style="display: flex;">
      <div class="column" style="flex: 80%;">
          <textarea matInput readonly [(ngModel)]="cloudProvider.parameters.rc_file"
                    style="height: 100px; padding: 20px;"
                    placeholder="OpenStack RC file" formControlName="rcFile" required>
          </textarea>
      </div>
      <div class="column" style="width: 10%; margin: auto auto 0; text-align: center;">
        <a class="upload-link">
          <mat-icon matSuffix (click)="credentialFileInput.click()">
            <i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i>
            <input hidden type="file" #credentialFileInput (change)="onFileChanged($event)" placeholder="RC file"/>
          </mat-icon>
          <div>Upload</div>
        </a>
      </div>
    </div>
  </mat-input-container>
  <br>

  <mat-input-container class="input-width">
    <input matInput placeholder="Password"
            [type]="hidePassword ? 'password' : 'text'"
           formControlName="password" required
           [(ngModel)]="cloudProvider.parameters.password">
    <mat-icon matSuffix (click)="hidePassword = !hidePassword">
      <i class="fa {{ hidePassword ?'fa-eye' : 'fa-eye-slash' }}" aria-hidden="true"></i>
    </mat-icon>
  </mat-input-container>


  <!--<div *ngIf="cloudProviderSettingsForm">-->
  <!--<h3 class="h3-responsive text-center cloud-setup-title">Please setup your Cloud Provider instances</h3>-->
  <!--<br>-->
  <!--<mat-form-field class="input-width">-->
  <!--<mat-select formControlName="flavor" placeholder="Select flavours"-->
  <!--style="display: inline-block; text-align: left;" required-->
  <!--[(ngModel)]="cloudProvider.parameters.flavor">-->
  <!--<mat-option *ngFor="let flavor of flavors" [value]="flavor.name">-->
  <!--{{flavor.name}} ({{flavor.vcpus}}CPU, {{flavor.ram/1024}}GB RAM, {{flavor.disk}}GB Disk)-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field class="input-width">-->
  <!--<mat-select formControlName="network" placeholder="Select network"-->
  <!--style="display: inline-block; text-align: left;" required-->
  <!--[(ngModel)]="cloudProvider.parameters.network">-->
  <!--<mat-option *ngFor="let network of networks" [value]="network['id']">-->
  <!--{{network.name}}-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field class="input-width">-->
  <!--<mat-select formControlName="ipPool" placeholder="Select IP pool name"-->
  <!--style="display: inline-block; text-align: left;" required-->
  <!--[(ngModel)]="cloudProvider.parameters.ip_pool">-->
  <!--<mat-option *ngFor="let ipPool of ipPools" [value]="ipPool">-->
  <!--{{ipPool}}-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
  <!--</div>-->


  <!--<div class="mat-card-control-buttons">-->
    <!--<button mat-raised-button (click)="goBack()" class="btn btn-primary" color="primary">Back</button>-->
    <!--<div *ngIf="!cloudProviderSettingsForm" style="display: inline-block">-->
      <!--<button mat-raised-button-->
              <!--[ngClass]="{'btn': enableCloudProviderSettingsSelection(), 'btn-primary': enableCloudProviderSettingsSelection()}"-->
              <!--(click)="validateCredentialsAndShowCloudProviderSettings()" color="primary"-->
              <!--[disabled]="!enableCloudProviderSettingsSelection()"-->
              <!--style="width: 88px; height: 36px; margin: 0">-->
        <!--Next-->
      <!--</button>-->
    <!--</div>-->
    <!--<div *ngIf="cloudProviderSettingsForm" style="display: inline-block">-->
      <!--<button mat-raised-button-->
              <!--[ngClass]="{'btn': cloudProviderSettingsSelected(), 'btn-primary': cloudProviderSettingsSelected()}"-->
              <!--(click)="submit()" color="primary"-->
              <!--[disabled]="!cloudProviderSettingsSelected()"-->
              <!--style="width: 88px; height: 36px; margin: 0">-->
        <!--Next-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="cloud-setup-message-panel">-->
    <!--<div-->
      <!--*ngIf="formErrors.password || formErrors.rcFile"-->
      <!--class="alert alert-danger">-->
      <!--{{ formErrors.password + ' ' + formErrors.rcFile}}-->
    <!--</div>-->
    <!--<div *ngIf="validatingCredentials && !cloudProviderSettingsForm" class="alert alert-info">-->
      <!--"Validating credentials..."-->
    <!--</div>-->
    <!--<div *ngIf="showValidationSucceededMessage" class="alert alert-success">-->
      <!--"Credentials validation succeeded !"-->
    <!--</div>-->
    <!--<div *ngIf="cloudProviderSettingsForm && isWaiting" class="alert alert-info">-->
      <!--"Loading flavours, networks, IP pools ... "-->
    <!--</div>-->
  <!--</div>-->
</form>
