<div class="container">
  <div *ngFor="let application of applications$ | async;">
    <!--Section: Author box-->
    <section class="m-b-4">

      <!--Author box-->
      <div class="author-box">


        <div class="row">
          <!--Name-->
          <div hidden #app>{{ application.name }}</div>
          <h1 class="h1-responsive text-xs-center"><strong>{{ application.name }}</strong></h1>

          <h3 class="h5-responsive text-xs-center"><em>{{ application.short_description }}</em></h3>
          <hr>

          <!--Avatar-->
          <div class="col-xs-12 col-sm-2">
            <img src="{{ application.logo_large }}" class="img-fluid img-rounded z-depth-2">
          </div>

          <!--Author Data-->
          <div class=" col-xs-12 col-sm-10">


          </div>


        </div>

        <br>

        <div class="row">
          <!--Header-->
          <div class="col-xs-12 col-sm-2">
            <p><strong>Description</strong></p>
          </div>

          <!--Infor-->
          <div class=" col-xs-12 col-sm-10">

            <p>{{ application.abstract }}</p>

          </div>
        </div>

        <br>

        <div *ngFor="let url of application.urls">
          <div *ngIf="url.type == 'Contextualization'">
            <div class="row">
              <!--Header-->
              <div class="col-xs-12 col-sm-2">
                <p><strong>Usage Instruction</strong></p>
              </div>

              <!--Infor-->
              <div class=" col-xs-12 col-sm-10">
                <p>To be able to use this container, you can either pull it and run it, or simply run it.</p>
                <p>- Pull:</p>
                <pre>dock pull {{ url.text.substring(7) }}</pre>
                <p>- Run:</p>
                <pre>dock run {{ url.text.substring(7) }}</pre>

              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <!--Header-->
          <div class="col-xs-12 col-sm-2">
            <p><strong>Publication</strong></p>
          </div>

          <!--Infor-->
          <div class=" col-xs-12 col-sm-10">
            <div *ngIf="application.id == '986'">
              <cite>Rinaudo, P., Boudah, S., Junot, C., & THEVENOT, E. A. (2016). <a href="http://www.ncbi.nlm.nih.gov/pubmed/27446929" target="_blank">biosigner: a new method for the discovery of significant molecular signatures from omics data.</a> Frontiers in Molecular Biosciences, 3, 26.</cite>
            </div>
            <div *ngIf="application.id == '982'">
              <cite>Hao J., Liebeke M., Astle W., De Iorio M., Bundy J. G. & Ebbels T. M., <a href="http://www.nature.com/nprot/journal/v9/n6/full/nprot.2014.090.html">Bayesian deconvolution and quantification of metabolites in complex 1D NMR spectra using BATMAN</a>, Nature Protocols, 9, 1416-1427 (2014).</cite>
            </div>
          </div>
        </div>


        <div *ngFor="let url of application.urls">
          <div *ngIf="url.type == 'Website'">
            <br>
            <div class="row">
              <!--Header-->
              <div class="col-xs-12 col-sm-2">
                <p><strong>{{ url.title }}</strong></p>
              </div>

              <!--Infor-->
              <div class=" col-xs-12 col-sm-10">
                <a href="{{ url.text }}">{{ url.text }}</a>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!--/.Author box-->


    </section>
  </div>
  <!--/Section: Author box-->
  <div [hidden] = "!isLoading"><div class="loader">Loading...</div></div>

</div>
