<div class="container">
  <div *ngFor="let application of dockerApp">
    <!--Section: Author box-->
    <section class="m-b-4">

      <!--Author box-->
      <div class="author-box">

        <div class="row">
          <!--Name-->
          <div hidden #app>{{ application.name}} </div>
          <h1 class="h1-responsive text-xs-center"><strong>{{ application.name }} </strong> </h1>
          <h3 class="h5-responsive text-xs-center"><em>{{ application.short_description }}</em></h3>
          <div *ngIf="application.authors.length > 0" class="text-xs-center small">created by {{concatenate(application.authors)}}</div>
          <div *ngIf="application.contributors.length > 0" class="text-xs-center small">containerised by {{concatenate(application.contributors)}}</div>
          <hr>

          <!--Avatar-->
          <div class="col-lg-6">
            <img src="{{ application.logo_large }}" class="img-fluid img-rounded z-depth-2 logo">
          </div>

          <!--Author Data-->
          <div class="col-lg-6 text-sm-center small table-flow">

            <table class="table">
              <tbody>
              <tr *ngIf="application.website.length > 0">
                <th scope="row">Website</th>
                <td>
                  <a href="{{application.website[0]}}" target="_blank">{{application.website[0]}}</a>
                </td>
              </tr>
              <tr *ngIf="application.version!=''">
                <th scope="row" >Version</th>
                <td>
                  {{application.version}}
                </td>
              </tr>
              <tr *ngIf="application.git_repo.length > 0">
                <th scope="row" >Git Repository</th>
                <td>
                  <a href="{{application.git_repo[0]}}" target="_blank">{{application.git_repo}}</a>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>

        <br>
        <div class="row" *ngIf="application.key_features.length > 0">
          <!--Header-->
          <div class="col-md-2">
            <p><strong>Features</strong></p>
          </div>

          <!--Infor-->
          <div class="col-md-10">

            <ul class="list-group" *ngFor="let feature of application.key_features">
              <li class="list-group-item">{{ feature }}</li>
            </ul>
          </div>
        </div>

        <br>

        <div class="row" *ngIf="application.abstract!=''">
          <!--Header-->
          <div class="col-md-2">
            <p><strong>Description</strong></p>
          </div>

          <!--Infor-->
          <div class="col-md-10">

            <p>{{ application.abstract }}</p>

          </div>
        </div>

        <br>

        <div class="row" *ngIf="application.screenshots.length > 0">
          <!--Header-->
          <div class="col-md-2">
            <p><strong>Screenshots</strong></p>
          </div>

          <!--Infor-->
          <div class="col-md-10">
            <div *ngFor="let screenshot of application.screenshots">
              <img src="{{ screenshot }}" class="img-fluid img-rounded z-depth-2">
              <br>
            </div>
          </div>
        </div>
        <br>

        <div class="row" *ngIf="application.installation!=''">
          <!--Header-->
          <div class="col-md-2">
            <p><strong>Installation</strong></p>
          </div>

          <!--Infor-->
          <div class="col-md-10" [innerHTML]=application.installation>
          </div>

        </div>


        <br>

        <div class="row" *ngIf="application.instruction!=''">
          <!--Header-->
          <div class="col-md-2">
            <p><strong>Usage Instruction</strong></p>
          </div>

          <!--Infor-->
          <div class="col-md-10" [innerHTML]=application.instruction>
          </div>

        </div>

        <br>


        <div class="row" *ngIf="application.publications.length > 0">
          <!--Header-->
          <div class="col-md-2">
            <p><strong>Publication</strong></p>
          </div>

          <!--Infor-->

            <div class="col-md-10">
              <div *ngFor="let pub of application.publications">
                <cite>{{pub}}</cite>
                <br>
                <br>
              </div>
            </div>

        </div>


      </div>
      <!--/.Author box-->


    </section>
  </div>

</div>
