.input-width {
  width: 90%;
}

.card-property {
  height: 480px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.phenomenal-card-property {
  height: 450px;
  margin-bottom: 30px;
}

.card-image {
  height: 125px;
  width: 200px;
}

.mat-card-image:first-child{
  margin-top: 0;
}

.mat-card:hover{
  background: #DFDFDF;
}

.phenomenal-image {
  height: 125px;
  width: 200px;
}

.card-row{
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .mat-card {
    height: 400px;
  }
}

@media (max-width: 991px) and (min-width: 404px) {
  .card-property {
    height: 500px;
  }

  .card-row{
    margin-bottom: 30px;
  }
}

@media (max-width: 403px) {
  .card-property {
    margin-bottom: 30px;
  }
}
