<main>

  <div class="container text-xs-center">

    <div *ngIf="!currentUser">
      <div class="loader">Loading...</div>
    </div>

    <mat-horizontal-stepper [linear]="true" #stepper style="overflow:visible;">

      <!-- Step 1: Cloud Provider Selection -->
      <mat-step [stepControl]="formOne">
        <ng-template matStepLabel>Cloud Provider</ng-template>
        <ph-provider-selector #stepOneComponent (cloudProvider)="selectCloudProvider($event)"></ph-provider-selector>
      </mat-step>

      <!-- Step 2: Setup Cloud Provider Credentials -->
      <mat-step [stepControl]="formTwo">
        <ng-template matStepLabel>Cloud Credentials</ng-template>
        <div *ngIf="cloudProvider">
          <div class="provider-logo-container">
            <img mat-card-image src="{{cloudProvider.logo.path}}" class="card-image"
                 [ngStyle]="{'width': 'auto', 'height': cloudProvider.logo.height}">
          </div>
          <mat-card-content>
            <ph-provider-info [cloudProvider]="cloudProvider"></ph-provider-info>
            <ph-provider-credentials #stepTwoComponent [cloudProvider]="cloudProvider"></ph-provider-credentials>
          </mat-card-content>
        </div>
        <div class="mat-card-control-buttons">
          <button mat-button matStepperPrevious mat-raised-button color="accent">Back</button>
          <button mat-button type="submit" (click)="validateCredentials()"
                  mat-raised-button [disabled]="!formTwo || !formTwo.valid" color="primary" autofocus>Next
          </button>
        </div>
      </mat-step>


      <!-- Step 3: Cloud Provider Parameters -->
      <mat-step [stepControl]="formThree">
        <ng-template matStepLabel>Cloud Parameters</ng-template>
        <div *ngIf="cloudProvider">
          <div class="provider-logo-container">
            <img mat-card-image src="{{cloudProvider.logo.path}}" class="card-image"
                 [ngStyle]="{'width': 'auto', 'height': cloudProvider.logo.height}">
          </div>
          <mat-card-content>
            <ph-provider-info [cloudProvider]="cloudProvider"></ph-provider-info>
            <ph-provider-parameters #stepThreeComponent [cloudProvider]="cloudProvider"></ph-provider-parameters>
          </mat-card-content>
        </div>
        <div class="mat-card-control-buttons">
          <button mat-button matStepperPrevious mat-raised-button color="accent">Back</button>
          <button mat-button matStepperNext type="button"
                  mat-raised-button [disabled]="!formThree || !formThree.valid" color="primary" autofocus>Next
          </button>
        </div>
      </mat-step>

      <!-- Step 4: Setup Services Credentials -->
      <mat-step [stepControl]="formFour">
        <ng-template matStepLabel>Services Credentials</ng-template>
        <div *ngIf="cloudProvider">
          <div class="provider-logo-container">
            <img mat-card-image src="{{cloudProvider.logo.path}}" class="card-image"
                 [ngStyle]="{'width': 'auto', 'height': cloudProvider.logo.height}">
          </div>
          <mat-card-content>
            <ph-provider-info [cloudProvider]="cloudProvider"></ph-provider-info>
            <ph-services-credentials #stepFourComponent [cloudProvider]="cloudProvider"></ph-services-credentials>
          </mat-card-content>
        </div>
        <div class="mat-card-control-buttons">
          <button mat-button matStepperPrevious mat-raised-button color="accent">Back</button>
          <button mat-button matStepperNext type="button"
                  mat-raised-button [disabled]="!formFour || !formFour.valid" color="primary" autofocus>Next
          </button>
        </div>
      </mat-step>

      <!-- Step 5: Deploy CRE -->
      <mat-step [stepControl]="formFive">
        <ng-template matStepLabel>Deploy</ng-template>
        <div *ngIf="cloudProvider">
          <div class="provider-logo-container">
            <img mat-card-image src="{{cloudProvider.logo.path}}" class="card-image"
                 [ngStyle]="{'width': 'auto', 'height': cloudProvider.logo.height}">
          </div>
          <mat-card-content>
            <ph-provider-info [cloudProvider]="cloudProvider"></ph-provider-info>
            <ph-deploy-confirm #stepFiveComponent [cloudProvider]="cloudProvider"></ph-deploy-confirm>
          </mat-card-content>
        </div>
        <div class="mat-card-control-buttons">
          <button mat-button matStepperPrevious mat-raised-button color="accent">Back</button>
          <button mat-button type="button" class="btn btn-warning" color="warn" (click)="deploy()"
                  mat-raised-button [disabled]="!formFive || !formFive.valid || disableDeployButton" autofocus>Deploy
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</main>
