<main>

  <!--Main layout-->
  <div class="container text-xs-center">

    <div *ngIf="!deploymentServerList">
      <div class="loader">Loading...</div>
    </div>

    <br>
    <div *ngIf="deploymentServerList">
      <div class="row hidden-lg-up">
        <div class="col-lg-12">
          <!--Panel-->
          <div class="">
            <div class="row">
              <div class="col-lg-9">
                <p class="text-left"></p>
              </div>
              <div class="col-lg-3 text-center plus-button">
                <a class="dropdown-item nav-link" title="Create new CRE"
                   [routerLink]="['/cloud-research-environment-setup']">
                  <i style="color: #525991" class="fa fa-plus-circle fa-4x" aria-hidden="true"></i>
                </a>
                <!--<div class="font-weight-bold">Create new CRE</div>-->
              </div>
            </div>
          </div>
          <!--/.Panel-->
          <br>
          <br>
        </div>
      </div>


      <div *ngFor="let deployment of deploymentServerList" class="col-lg-4">
        <mat-card class="card-property loading">
          <mat-card-content>

            <div *ngIf="deployment['status']=='UNDEFINED'">
              <mat-progress-spinner mode="indeterminate" color="accent">
                Please wait...
              </mat-progress-spinner>
            </div>

            <div>
              <div class="deployment-provider" *ngIf="deployment.cloudProviderName">
                <img *ngIf="deployment.cloudProviderName === 'AWS'" mat-card-image
                     src="{{aws_logo}}" class="provider-image">
                <img *ngIf="deployment.cloudProviderName === 'GCP'" mat-card-image
                     src="{{gce_logo}}" class="provider-image">
                <img *ngIf="deployment.cloudProviderName === 'OSTACK'" mat-card-image
                     src="{{openstack_logo}}" class="provider-image">
              </div>

              <div class="deployment-identifiers">
                <mat-card-title class="deployment-name" title="Deployment Name">
                  <h5 class="h5-responsive">{{ deployment.configurationName }}</h5>
                </mat-card-title>

                <div class="deployment-id" title="Deployment Identifier" *ngIf="deployment.reference">
                  <mat-card-subtitle>(id: {{deployment.reference}})</mat-card-subtitle>
                </div>
              </div>


              <div class="deployment-state" title="Deployment Creation Time">
                <mat-card-subtitle>
                  <div class="row">
                    <div class="col-xs-5 text-right">
                      State:
                    </div>
                    <div class="col-xs-7 text-left">
                  <span
                    [ngClass]="{running: deployment.isRunning(), stop: !deployment.isRunning() }">
                  {{deployment['status']}}
                </span>
                    </div>
                  </div>
                  <div *ngIf="deployment['startedTime']" class="row">
                    <div class="col-xs-5 text-right">
                      Started:
                    </div>
                    <div class="col-xs-7 text-left">
                      <span class="state-value">{{deployment['startedTime'] | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
                    </div>
                  </div>
                  <div *ngIf="deployment['deployedTime']" class="row">
                    <div class="col-xs-5 text-right">
                      Deployed:
                    </div>
                    <div class="col-xs-7 text-left">
                      <span class="state-value">{{deployment['deployedTime'] | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
                    </div>
                  </div>
                  <div *ngIf="deployment['failedTime']" class="row">
                    <div class="col-xs-5 text-right">
                      Failed:
                    </div>
                    <div class="col-xs-7 text-left">
                      <span class="state-value">{{deployment['failedTime'] | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
                    </div>
                  </div>
                  <div *ngIf="deployment['destroyedTime']" class="row">
                    <div class="col-xs-5 text-right">
                      Destroyed:
                    </div>
                    <div class="col-xs-7 text-left">
                    <span
                      class="state-value">{{deployment['destroyedTime'] | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
                    </div>
                  </div>
                </mat-card-subtitle>
              </div>

              <div class="{{ (deployment.isDestroyed() || deployment.isFaulty() && !deployment.isDestroying()) ? 'card-section-center-empty' : 'card-section-center'}}">

                <div class="error-section" *ngIf="deployment.isFaulty() && !(deployment.isStarting() || deployment.isDestroying())">
                  <div>
                    <img src="{{ error_icon }}" />
                  </div>

                  <div *ngIf="deployment.errorCause" class="error-message">
                    FAILURE CAUSE: <span class="font-italic">{{deployment.errorCause }}</span><br>
                    (see logs for more details)
                    <div *ngIf="deployment.isDestroyingFailed()">
                      Visit the <a href="https://portal.tsi.ebi.ac.uk/deployments/{{ deployment.reference }}" target="_blank">TSI Portal</a>
                      to try a forced destroy!
                    </div>
                  </div>
                </div>

                <div class="deployment-progress-bar"
                     *ngIf="deployment.isStarting()">
                  <ph-progress-bar [progress]="deployment"></ph-progress-bar>
                </div>

                <div class="deleting destroy-wheel" *ngIf="deployment.isDestroying()">
                  <mat-progress-spinner mode="indeterminate" color="red">
                    Please wait...
                  </mat-progress-spinner>
                </div>

                <div *ngIf="deployment.isRunning()">
                  <div>
                    <div class="deployment-admin-credentials-container" title="Credentials to access to CRE services">
                      <h6 class="font-weight-bold deployment-admin-credentials">Admin credentials:</h6>
                      <div class="font-italic admin-username" title="Admin Username">
                        {{deployment['galaxyAdminEmail']}}
                      </div>
                      <div class="admin-password-copy">
                        <a class="admin-password-copy-btn btn btn-primary" title="Copy password to clipboard">
                          <i class="fa fa-key"
                             ngxClipboard [cbContent]="deployment['galaxyAdminPassword']"></i>
                        </a>
                      </div>
                    </div>

                    <div
                      class="deployment-services-container {{deployment.isRunning() ? '' : 'disabled disabled-controls'}}">
                      <h5 class="h5-responsive font-weight-bold deployment-services-header">CRE Services:</h5>
                      <div class="row">
                        <div class="col-xs-4">
                          <a href="{{deployment['jupyterUrl']}}" target="_blank" (click)="enabledServices(deployment)">
                            <img style="width: 60px;" alt="Jupyter Notebook" [src]="jupyter_logo">
                          </a>
                        </div>
                        <div class="col-xs-4">
                          <a href="{{deployment['galaxyUrl']}}/user/login" target="_blank"
                             (click)="enabledServices(deployment)">
                            <img style="width: 60px;" alt="Galaxy Workflow Manager" [src]="galaxy_logo">
                          </a>
                        </div>
                        <div class="col-xs-4">
                          <a href="{{deployment['luigiUrl']}}" target="_blank" (click)="enabledServices(deployment)">
                            <img style="width: 60px;" alt="Luigi Workflow Manager" [src]="luigi_logo">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="deployment-controls">
                <hr>

                <div class="row">
                  <div *ngIf="deployment.reference"
                       class="{{ (deployment.isStarting() || deployment.isDestroying()) ? 'col-xs-12': 'col-xs-6'}} logs">
                    <a [routerLink]="['/logs']" [queryParams]="{id: deployment.reference}" target="_blank">
                      <i class="fa fa-align-justify fa-1x" aria-hidden="true"></i>
                      <span style="margin-left: 2px;">logs</span>
                    </a>
                  </div>

                  <div class="col-xs-6 destroy"
                       *ngIf="(deployment.isRunning() || deployment.isStartedFailed())">
                    <a (click)="destroyDeployment(deployment)">
                      <i class="fa fa-minus-circle fa-1x" aria-hidden="true"></i>
                      <span style="margin-left: 2px;">Stop</span>
                    </a>
                  </div>

                  <div class="col-xs-6 destroy" *ngIf="deployment.isDestroyed()">
                    <a (click)="deleteDeployment(deployment)">
                      <i class="fa fa-minus-circle fa-1x" aria-hidden="true"></i>
                      <span style="margin-left: 2px;">Delete</span>
                    </a>
                  </div>
                </div>
              </div>

              <block-ui>
              </block-ui>

            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-lg-4">
        <a class="card-plus-button" title="Create new CRE"
           [routerLink]="['/cloud-research-environment-setup']">
          <mat-card class="card-property hidden-md-down card-plus">
            <mat-card-content>
              <!--<div class="row text-center" style="padding: 0; margin: 5% auto 5%;">-->
              <!--<img src="{{providers_logo}}" style="width: 100%;">-->
              <!--</div>-->

              <div style="margin: 0 auto;">
                <i style="color: #525991" class="fa fa-plus-circle card-plus-button-icon" aria-hidden="true"></i>
              </div>

              <!--<div class="row text-center" style="margin: 20% auto 0;">-->
              <!--<mat-card-title><strong>Create new CRE</strong></mat-card-title>-->
              <!--</div>-->

            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
</main>
