.card-property {
  height: 500px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.state-key {
  color: rgba(0, 0, 0, 0.54)
}

.state-value {
  color: #0d1113;
}

.mat-card-image:first-child {
  /*margin-top: -10px;*/
}

.deployment-identifiers {
  min-height: 57px;
}

.deployment-name {
  font-weight: bold;
}

.deployment-id {
  margin-top: -15px;
  font-size: smaller;
}

.deployment-state {
  margin-top: 30px;
  min-height: 84px;
}

.card-section-center {
  min-height: 175px;
}

.deployment-state > mat-card-subtitle > .row > .col-xs-5 {
  padding: 0 3px;
}

.deployment-state > mat-card-subtitle > .row > .col-xs-7 {
  padding: 0;
}

.deployment-admin-credentials-container {
  margin-top: 0;
}

.deployment-admin-credentials {
  margin: 0;
}

.admin-username {
  padding: 0;
  display: inline;
}

.admin-password-copy {
  margin-left: 3px;
  margin-top: 0;
  border-radius: inherit;
  display: inline;
  padding: 0;
}

.admin-password-copy-btn {
  padding: 2px 6px;
}

.deployment-controls {
  margin-top: 25px;
  padding: 0;
}

.deployment-controls > .row > .col-xs-4 {
  padding: 0;
  color: #664F90;
}

.deployment-controls {
  color: #664F90;
}

.deployment-controls .destroy a:hover {
  color: red;
}

.deployment-controls .logs a:hover {
  color: darkslateblue;
}

.deployment-services-container {
  margin-top: 30px;
}

.deployment-services-header {
  padding: 0;
}

.deployment-services > .row > .col-xs-4 {
  padding: 0;
}

.deployment-progress-bar {
  padding-top: 10px;
}

.installing .mat-progress-spinner {
  padding: 0;
  margin-top: -10px;
  margin-bottom: -10px;
}

.installing .mat-progress-spinner > svg > circle {
  stroke: #5cb85c !important;
  stroke-width: 5px;
  r: 25px;
}

.deleting .mat-progress-spinner > svg > circle {
  stroke: red !important;
}

.running {
  color: green;
}

.stop {
  color: red;
}

.phenomenal-image {
  height: 187.5px;
  width: 300px;
}

.plus-button {
  opacity: 0.5;
}

.plus-button:hover {
  opacity: 1;
  background-color: #ffffff;
}

.plus-button > a:hover {
  background-color: #ffffff;
}

.card-plus {
  background-color: #f9f9f9;
  border: dashed thin #c1c1c1;
  opacity: 0.5;
}

.card-plus:hover {
  opacity: 1;
}

.card-plus-button {
  background-color: #ffffff;
}

.card-plus-button:hover {
  opacity: 1;
}

.card-plus-button-icon {
  margin-top: 55%;
  font-size: 10em;
}

.deployment-provider {
  margin-bottom: -10px;
}

div.deployment-provider > img.provider-image {
  width: 100px !important;
}

.disabled-controls {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .6;
}

@media (min-width: 992px) {
  /*.phenomenal-image {*/
  /*height: 60px;*/
  /*width: 90px;*/
  /*}*/
  .deployment-controls {
    margin-top: 0;
    padding: 0;
  }
}

.mat-progress-spinner {
  margin: 40px auto;
}

/* Modal window properties */
.fade, .fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}

.modal-backdrop.fade {
  opacity: 0.5 !important;
}

.progress-bar-modal .modal-dialog {
  margin-top: 30%;
  min-width: 320px;
}

.modal-footer {
  text-align: center;
}

.modal-footer > button {
  width: 100px;
}

