<form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="onKeyPressed($event)">

  <mat-input-container class="input-width">
    <div class="row" style="display: flex;">
      <div class="column" style="flex: 80%;">
          <textarea matInput readonly [(ngModel)]="cloudProvider.credential.rc_file"
                    style="height: 100px; padding: 20px;"
                    placeholder="Google Compute Engine Service Credential"
                    formControlName="credentials" required>
          </textarea>
      </div>
      <div class="column" style="width: 10%; margin: auto auto 0; text-align: center;">
        <a class="upload-link">
          <mat-icon matSuffix (click)="credentialFileInput.click()">
            <i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i>
            <input hidden type="file" #credentialFileInput (change)="onFileChanged($event)"/>
          </mat-icon>
          <div>Upload</div>
        </a>
      </div>
    </div>
  </mat-input-container>

</form>
