<main>
  <div class="container">

    <div class="row">
      <div class="col-lg-2 offset">
        <ul class="list-group text-xs-center">
          <li class="list-group-item"><small>CREs</small></li>
          <li class="list-group-item"><small>Providers</small></li>
          <li class="list-group-item"><small>Settings</small></li>
          <li class="list-group-item"><a [routerLink]="['/home']"><small>Logout</small></a></li>
        </ul>
      </div>

      <div class="col-lg-10">
        <div class="offset">
          <a [ngClass]="{'btn': true, 'btn-primary': true}">
            <span class="fa fa-plus"></span> Create CRE
          </a>
        </div>
      </div>

      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-4">

            <!--Panel-->
            <div class="card text-xs-center">
              <div class="card-header">
                <a href="" style="color:white;">CRE Name</a>
              </div>
              <div class="card-block">
                <p class="card-text ">Status: Running</p>
                <p class="card-text ">Created on 17 Oct 2016</p>

                <p class="card-text ">Powered by AWS</p>

                <a class="btn btn-primary">
                  <span class="fa fa-info-circle"></span> More
                </a>
              </div>
            </div>
            <!--/.Panel-->
          </div>

          <div class="col-lg-4">

            <!--Panel-->
            <div class="card text-xs-center">
              <div class="card-header">
                <a href="" style="color:white;">CRE Name</a>
              </div>
              <div class="card-block">
                <p class="card-text ">Status: Running</p>
                <p class="card-text ">Created on 17 Oct 2016</p>

                <p class="card-text ">Powered by AWS</p>

                <a class="btn btn-primary">
                  <span class="fa fa-info-circle"></span> More
                </a>
              </div>
            </div>
            <!--/.Panel-->
          </div>

          <div class="col-lg-4">

            <!--Panel-->
            <div class="card text-xs-center">
              <div class="card-header">
                <a href="" style="color:white;">CRE Name</a>
              </div>
              <div class="card-block">
                <p class="card-text ">Status: Running</p>
                <p class="card-text ">Created on 17 Oct 2016</p>

                <p class="card-text ">Powered by AWS</p>

                <a class="btn btn-primary">
                  <span class="fa fa-info-circle"></span> More
                </a>
              </div>
            </div>
            <!--/.Panel-->
          </div>


        </div>
      </div>

    </div>

    <router-outlet></router-outlet>
  </div>
</main>

