<!--Footer-->
<footer class="page-footer center-on-small-only primary-color-light">

  <!--Footer Links-->
  <div class="container">
    <div class="text-center">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-md-3">
            <h4><a [routerLink]="['/home']">Home</a></h4>
            <ul class="nav nav-pills nav-stacked">
              <li><a [routerLink]="['/cloud-research-environment']">Cloud Research Environment</a></li>
              <li><a [routerLink]="['/app-library']">App Library</a></li>
              <li><a [routerLink]="['/help']">Help</a></li>
            </ul>
          </div>

          <hr class="hidden-md-up">

          <div class="col-md-3">
            <h4>Rules</h4>
            <ul class="nav nav-pills nav-stacked">
              <li><a>Ethics</a></li>
              <li><a>Legal</a></li>
              <li><a>Terms and Conditions</a></li>
            </ul>
          </div>

          <hr class="hidden-md-up">

          <div class="col-md-3">
            <h4>Information</h4>
            <ul class="nav nav-pills nav-stacked">
              <li><a href="http://phenomenal-h2020.eu/home/about/">About Us</a></li>
              <li><a href="http://phenomenal-h2020.eu/home/outreach/">Outreach</a></li>
              <li><a href="http://phenomenal-h2020.eu/home/management-structure/">Project Structure</a></li>
              <li><a [routerLink]="['/statistics']">Statistics</a></li>
            </ul>
          </div>

          <hr class="hidden-md-up">

          <div class="col-md-3">
            <p>PhenoMeNal is funded by the European Commission's Horizon2020 programme, grant agreement number 654241</p>
            <a href="http://ec.europa.eu"><img class="flag-size" src="assets/img/logo/euro_flag.jpg"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.Footer Links-->

  <br>
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2016 Copyright:
      <a [routerLink]="['/home']">
        <img height="25" width="25" src="assets/img/logo/phenomenal_white.png">
        <span style="font-style: italic;"><strong> PhenoMeNal</strong></span>
      </a>

    </div>
  </div>
  <!--/.Copyright-->
</footer>
