@import '~@angular/material/core/theming/all-theme';
@import './phenomenal';
@import './phenomenal-theme.scss';

@include md-core();
$primary: md-palette($md-phenomenal-primary, 500);
$accent:  md-palette($md-phenomenal-secondary, 500, A100, A400);
$warn:    md-palette($md-phenomenal-complementary, 500);
$theme: md-light-theme($primary, $accent, $warn);

@include phenomenal-theme($theme);
