<form [formGroup]="form" (ngSubmit)="onSubmit()" (keypress)="onKeyPressed($event)">

  <mat-input-container class="input-width">
    <input matInput [(ngModel)]="cloudProvider.parameters.access_key_id"
           placeholder="Access Key ID" [type]="hideAccessKey ? 'password' : 'text'"
           formControlName="accessKeyId" required>
    <mat-icon matSuffix (click)="hideAccessKey = !hideAccessKey">
      <i class="fa {{ hideAccessKey ?'fa-eye' : 'fa-eye-slash' }}" aria-hidden="true"></i>
    </mat-icon>
  </mat-input-container>

  <mat-input-container class="input-width">
    <input matInput [(ngModel)]="cloudProvider.parameters.secret_access_key"
           placeholder="Secret Access Key" [type]="hideSecretKey ? 'password' : 'text'"
           formControlName="secretAccessKey" required>
    <mat-icon matSuffix (click)="hideSecretKey = !hideSecretKey">
      <i class="fa {{ hideSecretKey ?'fa-eye' : 'fa-eye-slash' }}" aria-hidden="true"></i>
    </mat-icon>
  </mat-input-container>

</form>
