<header>

  <!--Navbar-->
  <nav class="navbar navbar-fixed-top scrolling-navbar navbar-light  nav-pills primary-color-light bg-faded">

    <div class="container">

      <div class="navbar-header">
        <!--Navbar Brand-->
        <a class="navbar-brand" [routerLink]="['/home']">
          <img class="logo" [src]="logo">
        </a>
      </div>
      <!-- Collapse button-->
      <button (click)="toggleMenu()" class="navbar-toggler hidden-lg-up" type="button">
        <i class="fa fa-bars"></i>
      </button>
      <!--Collapse content-->
      <div [collapse]="!isCollapsed" class="collapse navbar-toggleable-md">

        <!-- User info when the NavBar is collapsed -->
        <div *ngIf="currentUser && isCollapsed" class="text-right">
          <span>Signed as {{ currentUser.email }}</span>
          <hr>
        </div>

        <!--Links-->
        <ul class="nav navbar-nav pull-xs-right">

          <li class="nav-item">
            <div class="ph-menu-item-container">
              <a (click)="closeMenu()" class="nav-link"
                 [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </div>
          </li>

          <li class="nav-item" *ngIf="!currentUser">
            <div class="ph-menu-item-container">
              <a (click)="closeMenu()" class="nav-link"
                 [routerLink]="['/cloud-research-environment-docs']"
                 routerLinkActive="active">CRE</a>
            </div>
          </li>

          <li *ngIf="currentUser && isCollapsed" class="nav-item">
            <hr>
          </li>

          <li *ngIf="currentUser && isCollapsed" class="nav-item">
            <a class="nav-link" (click)="closeMenu()"
               [routerLink]="['/cloud-research-environment-dashboard']">
              <i class="fa fa-bars" aria-hidden="true"></i> My CREs
            </a>
          </li>

          <li *ngIf="currentUser && isCollapsed" class="nav-item">
            <a class="nav-link" (click)="closeMenu()"
               [routerLink]="['/cloud-research-environment-test']">
              <i class="fa fa-cloud nav-menu-item-icon" aria-hidden="true"></i> Public CRE
            </a>
          </li>

          <li *ngIf="currentUser && isCollapsed" class="nav-item">
            <a (click)="closeMenu()" class="nav-link"
               [routerLink]="['/cloud-research-environment-setup']">
              <i class="fa fa-plus" aria-hidden="true"></i> Create new CRE
            </a>
          </li>

          <li *ngIf="currentUser && isCollapsed" class="nav-item">
            <hr>
          </li>

          <li *ngIf="currentUser && !isCollapsed" class="nav-item">
            <div class="btn-group" dropdown>
              <a dropdownToggle (click)="closeMenu()"
                 [ngClass]="(!isActiveCREMenu())?'dropdown-toggle nav-link':'dropdown-toggle nav-link active'">CRE</a>

              <ul *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu">
                <li role="menuitem">
                  <a (click)="closeMenu()" class="nav-link dropdown-item cre-menu-item"
                     [routerLink]="['/cloud-research-environment-dashboard']">
                    <i class="fa fa-bars nav-menu-item-icon" aria-hidden="true"></i> My CREs
                  </a>
                </li>

                <li role="menuitem">
                  <!-- workaround to force component reset from a control outside the tree which it belongs to -->
                  <a (click)="closeMenu()" class="nav-link dropdown-item cre-menu-item"
                     [routerLink]="['/cloud-research-environment-test']">
                    <i class="fa fa-cloud nav-menu-item-icon" aria-hidden="true"></i> Public CRE
                  </a>
                  <hr>
                </li>

                <li role="menuitem">
                  <a (click)="closeMenu(); createNewCre()" class="nav-link dropdown-item cre-menu-item">
                    <!--[routerLink]="['/cloud-research-environment-setup']" [queryParams]="{'state': newState()}">-->
                    <i class="fa fa-plus nav-menu-item-icon" aria-hidden="true"></i> Create new CRE
                  </a>
                </li>
              </ul>
            </div>
          </li>


          <li class="nav-item">
            <div class="ph-menu-item-container">
              <a (click)="closeMenu()" class="nav-link" [routerLink]="['/app-library']" routerLinkActive="active">App
                Library</a>
            </div>
          </li>

          <li class="nav-item">
            <div class="ph-menu-item-container">
              <a (click)="closeMenu()" class="nav-link" [routerLink]="['/help']" routerLinkActive="active">Help</a>
            </div>
          </li>

          <li *ngIf="!currentUser" class="nav-item" routerLinkActive="active">
            <div class="ph-menu-item-container">
              <a (click)="closeMenu()" class="nav-link" [routerLink]="['/login']">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Sign in
              </a>
            </div>
          </li>

          <li *ngIf="currentUser && isCollapsed" class="nav-item" routerLinkActive="active">
            <hr>
            <a (click)="logout()" class="nav-link">
              <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            </a>
            <hr>
          </li>

          <li *ngIf="currentUser && !isCollapsed" class="nav-item" routerLinkActive="active">
            <div class="btn-group" dropdown>
              <a id="user-profile" dropdownToggle (click)="closeMenu()" class="nav-link dropdown-toggle">
                <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
              </a>
              <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                <li role="menuitem" class="dropdown-item">
                  <div class="dropdown-item user-profile-menu-info cre-menu-item" href="#">
                    <div>
                      <div class="text-left" style="font-size: 18px;">
                        Hi, <span class="font-weight-bold">{{ currentUser.name }} !</span>
                      </div>
                      <div class="text-left" style="margin-top: 10px;">
                        <div class="font-italic user-email">{{ currentUser.email }}</div>
                        <div class="user-id">id: {{ currentUser.id }}</div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                  <a (click)="logout()" class="dropdown-item nav-link cre-menu-item">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Sign out
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!--/.Collapse content-->

    </div>
  </nav>
</header>
