.fa-bars {
  /*color: #664F90;*/
}

.cre-menu-item {
  text-align: left!important;
  width-min: 184px!important;
}

.user-profile-menu-info {
  padding: 0;
}

ph-menu-item-container  {
  margin-top: -4px;
}

#user-profile {
  padding: 15.5px;
}

.user-id {
  margin-top: 0;
  font-size: x-small;
}

.user-email {
  margin-top: 10px;
}

.logo {
  margin-top: 5px;
  width: 281px;
  height: 45px;
}

.container {
  width: 100%;
}

@media (max-width: 991px) {

  .logo {
    width: 281px;
    height: 45px;
  }

  .navbar-toggler {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .navbar-toggleable-md {
    clear: both;
  }

  .navbar-toggleable-md .navbar-nav {
    float: none !important;
  }

  .navbar-toggleable-md .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .navbar-toggleable-md .navbar-nav .nav-item {
    float: none;
  }

}

@media (max-width: 397px) {

  .logo {
    margin-top: 10px;
    width: 224px;
    height: 35px;
  }

  .container {
    padding: 0 0 0 5px !important;
  }

}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .active > .nav-link:focus,
.navbar-light .navbar-nav .active > .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:focus,
.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.open:focus,
.navbar-light .navbar-nav .nav-link.open:hover,
.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .open > .nav-link:focus,
.navbar-light .navbar-nav .open > .nav-link:hover {
  color: white;
  font-weight: bold;
  background-color: #525991;
}

.nav-link {
  text-align: right;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  border-radius: 0;
}

.nav-link:hover {
  background-color: #525991;
}

.nav-link:active {
  background-color: #525991;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar.navbar-light .breadcrumb a:hover, .navbar.navbar-light .nav-item a:hover {
  transition: .35s;
  color: #D3B569;
}

.navbar.navbar-fixed-top.scrolling-navbar.navbar-light.primary-color-light.bg-faded {
  min-width: 320px;
}
