<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="provider-selector-container">
    <p>In order to deploy your CRE you need a cloud provider</p>

    <h3 class="h3-responsive text-center cloud-setup-title">
      Please select a cloud provider for setting up your Cloud Research Environment
    </h3>
    <br><br>

    <input type="hidden" name="cloudProvider" formControlName="cloudProvider" [(ngModel)]="cloudProviderName"/>

    <div *ngFor="let cloudProvider of cloudProviderCollection; let i = index" [attr.data-index]="i">

      <div [ngClass]="{'row': (i+1)%2 == 0 && !smallScreen, 'card-row': (i+1)%2 == 0 && !smallScreen }">

        <div [ngClass]="{'col-lg-6': true, 'card-size': true}">
          <mat-card (click)="selectCloudProvider(cloudProvider)">
            <img mat-card-image src="{{cloudProvider.logo}}" class="card-image">
            <mat-card-content>
              <h5 class="card-title">
                <strong>{{cloudProvider.title}}</strong>
                <a href="{{cloudProvider.help}}" target="_blank">
                  <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                </a>
              </h5>
                <p>{{cloudProvider.description}}</p>
                <p><strong>{{cloudProvider.paymentDescription}}</strong></p>
                <p>Cloud location: <strong>{{cloudProvider.locationDescription}}</strong></p>
            </mat-card-content>
          </mat-card>
        </div>
        <br class="hidden-lg-up"/>
      </div>
    </div>
  </div>
</form>
