<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-input-container class="input-width">
    <input matInput placeholder="Username" formControlName="username" required>
  </mat-input-container>
  <mat-input-container class="input-width">
    <input matInput placeholder="Password" type="password" formControlName="password" required>
  </mat-input-container>
  <mat-input-container class="input-width">
    <input matInput placeholder="Project Name" formControlName="tenantName" required>
  </mat-input-container>
  <mat-input-container class="input-width">
    <input matInput placeholder="End Point" formControlName="authURL" required>
  </mat-input-container>
  <mat-input-container *ngIf="isUserDomainName" class="input-width">
    <input matInput placeholder="User Domain Name" formControlName="userDomainName" required>
  </mat-input-container>

  <div *ngIf="isVerify">
    <mat-form-field class="input-width">
      <mat-select formControlName="flavor" placeholder="Select flavours"
                  style="display: inline-block; text-align: left;" required>
        <mat-option *ngFor="let flavor of flavors" [value]="flavor.name">
          {{flavor.name}} ({{flavor.vcpus}}CPU, {{flavor.ram/1024}}GB RAM, {{flavor.disk}}GB Disk)
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input-width">
      <mat-select formControlName="network" placeholder="Select network"
                  style="display: inline-block; text-align: left;" required>
        <mat-option *ngFor="let network of networks" [value]="network['id']">
          {{network.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input-width">
      <mat-select formControlName="ipPool" placeholder="Select IP pool name"
                  style="display: inline-block; text-align: left;" required>
        <mat-option *ngFor="let ipPool of ipPools" [value]="ipPool">
          {{ipPool}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="formErrors.username || formErrors.password ||  formErrors.tenantName || formErrors.authURL"
       class="alert alert-warning">
    {{ formErrors.username + ' ' + formErrors.password + ' ' + formErrors.tenantName + ' ' + formErrors.authURL}}
  </div>
  <button mat-raised-button (click)="cloudProvider.isSelected=0;" color="accent">Back</button>
  <button mat-raised-button [hidden]="!isVerify" color="primary">Next</button>
  <div *ngIf="!isVerify" style="display: inline-block">
    <button mat-raised-button *ngIf="!isWaiting" class="btn btn-primary" (click)="toggleVerify()" color="primary"
            style="width: 88px; height: 36px; margin: 0">
      Verify
    </button>
    <button mat-raised-button *ngIf="isWaiting" class="btn btn-primary disabled" color="primary"
            style="width: 88px; height: 36px; margin: 0">
      Waiting
    </button>
  </div>
</form>
