.filled-in:checked + label:after {
  border-color: #525991 !important;;
  background-color: #525991 !important;
}

[type=checkbox] + label {
  padding-left: 20px;
}

[type=checkbox].filled-in:checked + label:after, [type=checkbox].filled-in:not(:checked) + label:after {
  height: 16px;
  width: 16px;
  top: 4px;
}

[type=checkbox].filled-in:checked + label:before {
  top: 2px;
  left: 0;
  width: 7px;
}

label {
  font-size: 80%;
  font-weight: 400;
  margin-bottom: 0;
}

.logo-transparent {
  opacity: 0;
}

ul {
  margin-bottom: 0;
}

.fa-fw {
  width: 0.5em;
}

li {
  margin-left: 0;
}

li > ph-tree > ul > li {
  margin-left: 30px;
}

li > ph-tree > ul > li > i {
  margin-left: -12.5px;
}

li > ph-tree > ul > li > label {
  font-size: 70%;
}

li > ph-tree > ul > li > ph-tree > ul > li {
  margin-left: 18px;
}

li > ph-tree > ul > li > ph-tree > ul > li > label {
  font-size: 60%;
}
