<ul *ngFor="let node of childrenNodes">
  <li>
    <i *ngIf="node.children.length > 0"
       [ngClass]="{'fa': true, 'fa-caret-right': !node.isRotate, 'fa-caret-down': node.isRotate, 'fa-fw':true}"
       (click)="rotate(node)"></i>
    <i *ngIf="node.children.length == 0" class="fa fa-caret-right logo-transparent fa-fw"></i>
    <input (click)="check(node, !node.isCheck, parentNodes); " type="checkbox" class="filled-in" attr.id={{node.id}}
           [checked]="node.isCheck" #input/>
    <label class="labelsize" attr.for="{{node.id}}">
      {{node.name}}
    </label>
    <ph-tree *ngIf="node.children!=undefined" [childrenNodes]="node.children" [hidden]="!node.isRotate"></ph-tree>
  </li>
</ul>
